@page "/doctor"
@inject IDoctorService DoctorService
<PageTitle>Doctors</PageTitle>
<h3>Doctors</h3>

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Area</th>

           
            </tr>
        </thead>
            <tbody>
            @foreach (var d in DoctorService.Doctors )
            {
                <tr>
                  
                    <td>@d.FirstName</td>
                    <td>@d.LastName</td>
                    <td>@d.Email</td>
                    <td>@d.Phone</td>
                    <td>@d.Address</td>
                    <td>@d.Area.Name</td>

                </tr>
            }
        </tbody>
      
    </table>

<!--Iniciamos la llamada-->
@code {
    protected override async Task OnInitializedAsync()
    {
        await DoctorService.GetDoctors();
    }
}